[DEFAULT]
appname = "scul86's sfwPorn Showerthoughts thing v1.04"

[IMAGES]
logic = and
minimumwidth = 1920
minimumheight = 1080

[REFRESH]
# Hours
refreshrate = 4

[SUBREDDITS]
imagesubs = earthporn, skyporn, lakeporn, ruralporn, spaceporn
textsubs = showerthoughts
numberposts = 10

[FILEPATHS]
template = ~/python/reddit_crawler/reddit_changes
display_prev = /var/www/html/
display = ~/.html_logs/test 
log = ~/.html_logs/test

