[DEFAULT]
appname = scul86's sfwPorn Showerthoughts thing v1.04

[IMGUR]
imgur_id = ''
imgur_secret = ''

[IMAGES]
logic = and
minimumwidth = 1920
minimumheight = 1080

[REFRESH]
# Hours
refreshrate = 4

[SUBREDDITS]
imagesubs = earthporn, skyporn, lakeporn, ruralporn, spaceporn
textsubs = showerthoughts
numberposts = 1000

[FILEPATHS]
template = ~/python/reddit_crawler/
display = /var/www/html/
log = ~/.html_logs/

