[DEFAULT]
appname = "scul86's sfwPorn Showerthoughts thing v1.06"

[IMGUR]
id =
secret =

[IMAGES]
logic = and
minimumwidth = 1920
minimumheight = 1080

[REFRESH]
# Hours
refreshrate = 4

[SUBREDDITS]
imagesubs = earthporn, skyporn, lakeporn, ruralporn, spaceporn
textsubs = showerthoughts
numberposts = 200

[FILEPATHS]
template = .
display = .
log = .

[LOGGING]
# Valid values are 'debug', 'info', 'warn', 'error', or 'critical'
level = info
